*~
*.la
*.o
*.lo
.deps
.dirstamp
.libs
autom4te.cache
aclocal.m4
compile
config.*
configure
depcomp
libtool
ltmain.sh
install-sh
missing
Makefile.in
Makefile
.anjuta/
.anjuta_sym_db.db
libfoo/foo-1.pc
foo/foo
